__pycache__/
*.pyc
.pytest_cache/

# ROS / colcon artifacts
build/
install/
log/

# Generated Gazebo files
worlds/generated_*.sdf

# Downloaded benchmark archive
worlds/mapf-map.zip

# Optional: uncomment this if you do NOT want to upload all benchmark maps
# worlds/movingai_mapf/

# Editor files
.vscode/
.idea/
